@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');



.header-container{
    text-align: center;
    position: absolute;
    top: 30px;
    display: block; 
    width: 100%;
    
}
 #imagem{
    position: absolute;
    top: 229px;
      
}
#button{
    background-color: aqua;
    color: rgb(255, 2, 2);
    text-decoration: none;
    width: 50px;
    height: 20px;
    display: inline-block;
    border-radius: 70px;
    
}

#titulo{
    color: red;
    font-size: 50px;;
} 
#subtitulo{
    color: red;
    font-size: 30px;
}
#paragrafo{
    color: red;
    font-size: 20px;
}

.card-container{
    margin: 15px;
}

.card{
    background-color: aqua;
    border: solid black;
    border-radius: 10px;
}

.card-body{
    height: 180px;
}